# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
  - cron: '21 17 * * *'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v5
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: >
          This issue has been automatically marked as stale because there has been no recent activity on it in the Smart City Traffic Management System project. If this issue is still relevant, please add a comment or update it with any new details to keep it open; otherwise it may be closed automatically after a further period of inactivity.
        stale-pr-message: >
          This pull request has been automatically marked as stale due to a lack of recent activity in the Smart City Traffic Management System project. If you intend to continue working on this change, please push new commits or leave a comment to keep it active; otherwise it may be closed automatically after a further period of inactivity.
        stale-issue-label: 'no-issue-activity'
        stale-pr-label: 'no-pr-activity'
